
		<!-- Header -->
		<div class="row">
			<div class="large-12 columns">
				<div class="amaze-logo">
					<img src="../img/brand/a_logo.gif" alt="Amaze logo">
				</div>
				<h2>{{pageheader}}</h2>
				{{#if subtext}}
					<p>{{subtext}}</p>
				{{/if}}
				<hr />
			</div>
		</div>
		<!-- /Header -->
